@import "../../styles/variables.scss";

.battery-box {
  display: flex;
  align-items: center;
  font-size: 20px;

  color: $main-color;

  .text {
    color: $card-text;

    margin-left: 20px;
  }
}
